<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>PNLab - 產品網路系統</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo-small.jpg" />

  <link rel="stylesheet" type="text/css" href="/static/client.css" />
  <link rel="stylesheet" type="text/css" href="/static/13.css" />
  <link rel="stylesheet" type="text/css" href="/static/2.css" />
  <link rel="stylesheet" type="text/css" href="/static/22.css" />
  <link rel="stylesheet" type="text/css" href="/static/7.css" />

  <script src="/static/vendors~client.chunk.js"></script>
  <script src="/static/client.bundle.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>