html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

.page-container {
    height: 100%;
    width: 100%;
}

div {
    box-sizing: border-box;
}

a {
    display: block;
    color: black;
    height: 100%;
    width: 100%;
    &:hover {
        color: black;
    }
}