html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

.page-container {
    height: 100%;
    width: 100%;
}

div {
    box-sizing: border-box;
}

.ui.message.report-message {
    top: 18%;
    left: 3%;
    width: 23%;
    overflow: auto;
    max-height: 550px;
    position: absolute;
    z-index: 101;
    padding-bottom: 5px;
}
